/*--------------*/
/* Base Styling */
/*--------------*/

.landing-page {
  margin: 5vh 0;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  padding: 2vh 5vw;
}

.landing-page h2 {
  text-align: center;
  text-decoration: underline;
}

.landing-page h3 {
  margin-top: 5vh;
  text-align: center;
}

.landing-page img {
  display: block;
  margin: 5vh auto;
  max-width: 80vw;
}


/*----------------*/
/* Responsiveness */
/*----------------*/

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .landing-page h2 {
    font-size: 2em;
  }

  .landing-page h3 {
    font-size: 1.5em;
  }

  .landing-page p {
    font-size: 1.2em;
  }

  .landing-page img {
    max-width: 70vw;
  }


}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

  .landing-page h2 {
    font-size: 2.3em;
  }

  .landing-page h3 {
    font-size: 1.8em;
  }

  .landing-page p {
    font-size: 1.3em;
  }

  .landing-page img {
    max-width: 60vw;
  }

}

