/*--------------*/
/* Base Styling */
/*--------------*/

.comic-page h3 {
    text-align: center;
    margin: 5vh auto; 
}

.comic-page img {
    max-width: 80vw;
    display: block;
    margin: 0 auto;
}

.comic-page h4 {
    text-align: center;
    margin: 5vh auto; 
}

.pop-up {
    color: black;
    font-family: xkcd-script, sans-serif;
}

/*----------------*/
/* Responsiveness */
/*----------------*/

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  .comic-page h3 {
      font-size: 1.5em;
  }

.comic-page img {
    max-width: 70vw;
}

.comic-page h4 {
    font-size: 1.2em;
}

.pop-up {
    font-size: 1.2em;
}

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {


  .comic-page h3 {
    font-size: 1.8em;
}

.comic-page img {
  max-width: 60vw;
}

.comic-page h4 {
  font-size: 1.3em;
}

.pop-up {
  font-size: 1.3em;
}
    
}

