/*--------------*/
/* Base Styling */
/*--------------*/

.comic-page h3 {
    text-align: center;
    margin: 5vh auto; 
}

.comic-page img {
    width: 80vw;
    display: block;
    margin: 0 auto;
}

.comic-page h4 {
    text-align: center;
    margin: 5vh auto; 
}

.pop-up {
    color: black;
    font-family: xkcd-script, sans-serif;
}

