/*-----------*/
/* Reference */
/*-----------*/

/* 
Useful tut on footer positioning: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ 
*/


/*--------------*/
/* Base Styling */
/*--------------*/

body {
    background-color: #96c8a1; 
}

#root {
    margin: 1vh 5vw;
    font-family: xkcd-script, sans-serif;   
}

.App {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 10vh;
}

/*----------------*/
/* Responsiveness */
/*----------------*/

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    #root {
        margin: 1vh 10vw;
    }

  }
  
  /* Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) {
 
  }
