/*--------------*/
/* Base Styling */
/*--------------*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
}

nav img {
    height: 7vh;
    margin-left: 15px;
    margin-top: 32px; 
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 15px;
    font-size: 1.2em;
}

nav a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
}


